<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently working as a Software Engineer intern for the <a class="underline-link" href="http://publichealthlawresearch.org/" target="_blank">Center for Public Health Law Research</a>, where I work with awesome people to build a cool tech stack and collaborate on other fun projects. 
        I am also interning as a Software Developer at
      <a class="underline-link" href="https://socialladderapp.com/" target="_blank">SocialLadder</a>, working with the research & development team to automate some cool features for their platform!

    </p>

    <p>
        As an upcoming graduate aspiring to find a full-time career in Software Engineering, I enjoy being part of the intersection of technology and design, contributing to society's technical advancements.  I am a designer, a coder, and a passionate thinker, aiming to create experiences that would allow people to flow
        through an aesthetically pleasing world of science, technology and art.

    </p>

    <p>
      <strong>When I'm not coding</strong>, I enjoy snowboarding, traveling or watching corgi videos.
       I also love going out for runs, making pancakes and listening to music <br />(you should definitely check out my Spotify). :-)
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
