<section class="section featured-projects">
    <div class="section__title">Featured Projects</div>
    <div class="section__content">
      <div class="project blistabloc">
        <figure class="project__pic">
          <a href="https://fahdksara.wixsite.com/html/pinshot" target="_blank">
            <img src="{{site.baseurl}}/img/featured/blistabloc/pinshotMockup.png" alt="">
          </a>
        </figure>
        <figcaption class="project__caption">
          <div class="project__name">
            <a href="https://fahdksara.wixsite.com/html/pinshot" target="_blank">pinshot</a>
          </div>
          <p>Pinshot is a self-initiated real-time business mobile application project that serves as a fun and 
              interactive way to share your photography business and collaborate with other photographers. </p>
        </figcaption>
      </div>
    </div>
</section>  
